@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* body {
  font-family: 'Roboto', sans-serif;
} */

.navbar {
  text-transform: uppercase;
}

.navbar-brand {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 1rem;
  text-transform: capitalize;
  text-shadow: 1px 1px #000;
}

.jumbotron {
  padding-top: 5rem;
  background: url(img/4.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 700px;
  overflow: hidden;
  color: #fff;
  text-shadow: 1px 1px #000;
  padding: 5em inherit;
  font-family: 'Great Vibes', cursive;

}

.tron-text {
  width: 50%;
}

.font-display {
  padding-top: 5em;
}

section {
  padding-top: 11.5rem;

}

#pembukaan {
  padding-bottom: 5rem;
  font-weight: 700;

}

#surat {
  /* background-size: cover;
  min-height: 900px;
  overflow: hidden; */
  color: #000;
  padding: 5em inherit;
  font-weight: 700;
}

.isi-surat {
  word-spacing: 10px;
}

#wedding {
  padding-top: 8rem;
}

#resepsi {
  /* background: url(img/3.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 900px;
  overflow: hidden; */
  color: #000;
  padding-top: 8rem;
  /* text-shadow: 1px 1px #000; */
}

.nama-mempelai {
  font-family: 'Great Vibes', cursive;
}

#gallery {
  margin-top: -6rem;
  font-family: 'Great Vibes', cursive;

}

.akad {
  font-family: 'Great Vibes', cursive;
}

#lokasi {
  padding-top: 5rem;
}

#trailer {
  display: none;
}

.locations {
  font-family: 'Great Vibes', cursive;
}